/* Style for counter position and bold text */
#count {
    font-weight: bold;
    display: inline-block;
    margin-left: 10px;
  }
  
  /* Style for logo */
  #logo {
    width: 200px;
    height: 200px;
    background: url('../assets/holberton-logo.jpg') no-repeat center center;
    background-size: cover;
  }
  